html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: #0a100d;
}

.full-page {
    height: 100vh;
}

.half-page {
    height: 50vh;
}

.block {
    color: white;
    background-color: #0a100d;
    padding: 5%;
    align-content: center;
}

.block-1 {
    color: #0a100d;
    background-color: #d6d5c9;
}

.block-2 {
    color: #d6d5c9;
    background-color: #902923;
}

.block-3 {
    color: #0a100d;
    background-color: #b9baa3;
}

.block-4 {
    color: #0a100d;
    background-color: #d6d5c9;
    padding: 5%;
    min-height: 100vh;
}
.card {
    padding: 10%;
}
.footer {
    background-color: #d6d5c9;
}

@media (max-width: 576px) {
    .block-3 {
        display: flex;
        flex-direction: row;
    }
    .first-order-responsive {
        order: 1;
    }
    .second-order-responsive {
        order: 2;
    }
    .class-list {
        text-align-last: center;
        padding: 5%;
    }
}

@media (min-width: 992px) {
    #contact-us {
        padding-right: 20%;
        padding-left: 20%;
    }
    .contact-info {
        text-align-last: left;
    }
}

@media (min-width: 768px) {
    #adult-class {
        padding-right: 20%;
        padding-left: 20%;
    }
}
