html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.full-page {
    height: 100vh;
}

.half-page {
    height: 50vh;
}

.block {
    color: white;
    background-color: #0a100d;
    padding: 5%;
    align-content: center;
}

.block-1 {
    color: #0a100d;
    background-color: #d6d5c9;
}

.block-2 {
    color: white;
    background-color: #902923;
}

.block-3 {
    color: #0a100d;
    background-color: #B9BAA3;
}

.block-4 {
    color: #0a100d;
    background-color: #d6d5c9;
    padding: 5%
}
.card {
    padding: 10%;
    }

@media (max-width: 576px) {
    .block-3 {
        display: flex;
        flex-direction: row;
    }
    .first-order-responsive {
        order: 1;
    }
    .second-order-responsive {
        order: 2;
    }
    .class-list {
        text-align-last: center;
        padding: 80px;
    }
}
